@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(184, 235, 218);
  text-align: center;
  margin-top: 100px;
  
}

#add-entry-btn {
  background: rgba(53, 230, 215, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: none;
  margin: 15px;
  padding: 20px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;

}

p{
  margin: 0;
}

.nav-item {
  margin: 15px;
}

#store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  width: 20%;

}

.card-body {
  flex-wrap: wrap;
}

#window {
  display: flex;
  justify-content: space-between;
}

.btn-danger {
  margin-right: 20px;
}
